# Credit Card Retention Analysis

### Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import plotly.graph_objs as go
from plotly.offline import iplot
sns.set()
pd.options.display.max_columns = 999

In [2]:
data = pd.read_csv('../data/BankChurners_v2.csv')

In [3]:
data = data[['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',]]

In [4]:
data['Education_Level'] = data['Education_Level'].fillna('Unknown')
data['Marital_Status'] = data['Marital_Status'].fillna('Unknown')
data['Income_Category'] = data['Income_Category'].fillna('Unknown')

***

## Data Transformation: Binning

To bin our ages, we will need a couple data points: the min and max ages. Let's find those.

In [5]:
data['Customer_Age'].min()

np.int64(26)

In [6]:
data['Customer_Age'].max()

np.int64(73)

For more information, see the documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html).

In [9]:
bins = [25,30,40,50,60,70,80]
labels = ['20s','30s','40s','50s','60s','70s']
data['Customer_Age_bins'] = pd.cut(data['Customer_Age'],bins = bins,labels = labels, include_lowest = True, right = False)

In [14]:
data[['Customer_Age_bins','Customer_Age']]

      Customer_Age_bins  Customer_Age
0                   40s            45
1                   40s            49
2                   50s            51
3                   40s            40
4                   40s            40
...                 ...           ...
10122               50s            50
10123               40s            41
10124               40s            44
10125               30s            30
10126               40s            43

[10127 rows x 2 columns]